.navbar {
  background-color: goldenrod;
  color: white;
  padding-top: 5px;
  width: 14%;
  height: 96vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 23vh;
  line-height: 4.5vh;
}
.navbar-list li {
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  list-style: none;
  color: white;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: black;
}
.content {
  margin-left: 16%; 
  padding: 20px;
}
